@import url('https://fonts.google.com/?selection.family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Syncopate:400,700');
@import url('https://fonts.googleapis.com/css?family=Allura');

html {
	background: linear-gradient(to bottom, #000000 67%, #26130C 95%, #D2691E 100%);
}

#css-zen-garden {
	background: url('http://i.imgur.com/2zN58lph.jpg?2') no-repeat;
	background-size: contain;
	opacity: 0.9;
}

h1, h2 {
	display: none;
}

.summary {
	margin-left: 15%;
	margin-right: 8%;
	text-align: right;
}

.summary>p, h3, p, .design-selection, .design-archives, .zen-resources, footer {
	font-family: 'Syncopate', sans-serif;
}

.summary>p {
	font-size: 10px;
	text-align: right;
}

a {
	color: #FBFF00; /*Yellow*/
}

.preamble {
	display: inline-block;
	margin-right: 57%;
	margin-left: 2%;
	text-align: left;
}

h3 {
	font-size: 25px;
	color: #FFFF00; /*Yellow*/
}

p {
	font-size: 12px;
	color: #FFFFFF; /*White*/
	text-align: justify;
}

.explanation, .participation, .benefits, .requirements {
	display: inline-block;
	margin-right: 33%;
	margin-left: 2%;
}

.design-selection>h3, .design-archives>h3, .zen-resources>h3, h3 {
	width: 320px;
}

.sidebar {
	float: left;
	bottom: -540px;
	right: 2%;
	position: absolute;
}

.design-selection, .design-archives, .zen-resources {
	font-size: 12px;
	text-align: right;
	text-decoration: none;
}

.design-selection>h3, .design-archives>h3, .zen-resources>h3 {
	color: #F94405;/*Deep Orange*/
	margin-left: 60px;
	text-align: right;
}

footer {
	font-size: 10px;
	text-align: center;
	right: 33%;
	left: 33%;
}

.designer-name{
	color: #FAF0e6;/*Orange*/
}

ul{
	color: #FF8C00;/*Linen*/
	list-style-type: none;
}